/* @theme cs253-theme */
@import 'default';

/* section {
  width: 960px;
  height: 720px;
} */

section {
  width: 1024px;
  height: 768px;
  font-size: 1.5em;
}

section::after, footer {
  font-size: 0.7em;
}

h1 {
  font-size: 2em;
  color: #304C71;
}

h2 {
  font-size: 1.4em;
  /* color: #304C71; */
}

h3 {
  margin: 0 0 10px 0;
}

code {
  color: #191970;
}

em {
  font-style: normal;
  color: #800000;
}