/.gradle/
/.idea/
/.vscode/
/build/

# quizzes
/src/main/java/edu/emory/cs/algebraic/LongIntegerQuizSol.java
/src/main/java/edu/emory/cs/queue/TernaryHeapQuizSol.java
/src/main/java/edu/emory/cs/sort/comparison/ShellSortHibbard.java
/src/main/java/edu/emory/cs/sort/comparison/ShellSortPratt.java
/src/main/java/edu/emory/cs/sort/divide_conquer/MergeSortQuizSol.java
/src/main/java/edu/emory/cs/sort/distribution/MSDRadixSort.java
/src/main/java/edu/emory/cs/tree/balanced/BalancedBinarySearchTreeQuizSol.java
/src/main/java/edu/emory/cs/trie/TrieQuizSol.java
/src/main/java/edu/emory/cs/graph/GraphQuizSol.java
/solutions/

# homework
/src/main/java/edu/emory/cs/sort/hybrid/HybridSortJC.java
/src/main/java/edu/emory/cs/trie/autocomplete/AbstractAutocomplete.java
/src/main/java/edu/emory/cs/trie/autocomplete/RecentAutocomplete.java
/src/main/java/edu/emory/cs/trie/autocomplete/FrequentAutocomplete.java
/src/test/java/edu/emory/cs/trie/autocomplete/AutocompleteTestHW.java
/src/main/java/edu/emory/cs/graph/span/MSTAllSol.java
/src/main/java/edu/emory/cs/graph/span/MSTWordHWSol.java
/src/main/resources/word_vectors.dot
